@import "./scss/colors.scss";

*{
  all: unset;
  font-family:"Monocraft Nerd Font";
  font-weight: bold;
}

@import "scss/resource-monitor.scss";
@import "scss/custom-calendar.scss";
@import "scss/music-control.scss";